 body{
        background-image: url('https://static.vecteezy.com/system/resources/previews/050/561/731/non_2x/christmas-background-with-snowflakes-abstract-gray-snowflakes-background-vector.jpg');
        height: 90vh;
        background-size: cover;
        background-position: center;
        }


h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
}
p {
    text-align: center;
    margin: 20px;
}
/* Стили для небольших экранов (мобильные устройства) */ @media (max-width: 768px) {
h1 {
    font-size: 24px;
}
p {
    font-size: 16px;
} }
/* Стили для больших экранов (компьютеры) */ @media (min-width: 768px) { h1 {
font-size: 48px;
}
p {
    font-size: 20px;
} }        